/* просто это надо */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,400;0,600;0,800;1,200;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* цвета ниже указаны для наглядности */
.nav-link{
    color: rgb(159, 227, 227);
}
.navbar-nav .nav-link.active{
    color: rgb(130, 172, 158);
}

.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color: rgb(130, 172, 158);
}

body{
    padding: 10%;
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Poppins", sans-serif;
    background-color: var(--c-bg-body);
    color: var(--c-text-primary);
}

:root {
    --c-text-primary: #191919;
    --c-text-secondary: #737374;
    --c-border-primary: #ccc;
    --c-bg-body: #2c2e2f;
    --c-bg-primary: #fff;
    --c-bg-secondary: rgb(230, 244, 248);
    --c-bg-button: #fff;
    --slider-shadow: inset 0 1px 1px #ddd, 0 2px 3px #ccc;
}
:root.dark-theme {
    --c-text-primary: #eee;
    --c-text-secondary: #d3d5db;
    --c-border-primary: #454545;
    --c-bg-primary: #323339;
    --c-bg-secondary: #222128;
    --c-bg-button: #494a50;
    --slider-shadow: inset 0 1px 1px #767676;
}
:root.black-theme {
    --c-text-primary: #edeeef;
    --c-text-secondary: #d4d7e1;
    --c-border-primary: #323232;
    --c-bg-primary: #1b1d23;
    --c-bg-secondary: #000001;
    --c-bg-button: #343844;
    --slider-shadow: inset 0 1px 1px #555;
}
/* далее заменил все на классы ибо условие тегов все ломали */
.cont{
    background-color: var(--c-bg-primary);
    transition: background-color 0.15s ease;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 -4px 16px rgba(0, 0, 0, 0.1);
}
.article1, .div3{
    text-align: center;
}
/* место для заставочной картинки над навигационкой */
.header1{
    width: 1400px;
    height: 200px;
    margin: 0 auto;
    background: scroll;
    background-repeat:repeat;
    background-image: url(https://www.teahub.io/photos/full/20-208426_anime-landscaope-forest-grass-anime-2560-x-1440.jpg);
}
/* сюда пихнем полосу прокрутки тайтлов */
.main1{
    display: inline-block; 
    width: 1400px;
    height: 230px;
    margin: 0 auto;
    background-color: rgb(171, 219, 203);
}
/*прокрутка аниме тайтлов*/
.scroller{
    width: 99%;
    height: 90%;
    align-items: center;
    padding: 20px;
    display: grid;
    /* display: inline-flex; */
    grid-auto-flow: column;
    overflow-x: scroll;
    grid-column: 15px;
    gap: 4px 18px;
}
.scroller-item{
    display: inline;
    width: 125px;
    height: 167px;
    position: relative;
    /* width: 8rem;
    height: 11rem;  */
}
/* самый низ */
 .footer3{
    width: 1400px;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(33, 155, 114);
 }
 /* навигационка */
.nav1{
    width: 1400px;
    height: 65px;
    margin: 0 auto;
    background-color: rgb(33, 155, 114);
}
.menu-header-title, p{
    font-size: 0.875rem;
    color: var(--c-text-secondary);
    margin-bottom: 0.375rem;
    font-weight: 500;
}
.dropdown-menu{
    background-color: var(--c-bg-secondary);
}
.theme-switcher {
    background-color: var(--c-bg-secondary);
    border-radius: 10px;
    display: flex;
    padding: 0 3px;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.theme-switcher .slider {
    display: block;
    position: absolute;
    z-index: 1;
    width: calc((100% - 6px) / 3);
    top: 3px;
    transform: translatex(-110%);
    bottom: 3px;
    border-radius: 6px;
    transition: 0.15s ease, transform 0.25s ease-out;
    background-color: var(--c-bg-button);
    box-shadow: var(--slider-shadow);
}
.theme-switcher input {
    display: none;
}
.theme-switcher input:nth-of-type(1):checked ~ .slider {
    transform: translateX(0);
}
.theme-switcher input:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
}
.theme-switcher input:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%);
}
.theme-switcher label {
    position: relative;
    z-index: 2;
    width: calc(100% / 3);
    color: var(--c-text-secondary);
}
.theme-switcher label span {
    padding: 8px 0;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.theme-switcher label svg {
    display: inline-block;
    margin-right: 0.5rem;
    width: 20px;
}
/* основная панель */
.article1{
    width: 500px;
    height: 600px;
    font-family: "Poppins", sans-serif;
    background-color: var(--c-bg-secondary) ;
    color:var(--c-bg-body) ;
    display: inline-block; 
    margin: 5px;
    font-size: 0;
}
 /* начинка основной панели */
  .header2, .section1, .section2{ 
    display: inline-flex;
    margin: 5px;
    height: 80px;
    width: 90%;
    background-color: aqua;
  }
   .header2{
    margin-top: 5%;
    margin-bottom: 25%;
   }
   .footer1{
    display: inline-flex;
    margin: 5px;
    height: 70px;
    width: 90%;
    background-color: aqua;
   }
   /* боковая панель */
.div3{
    width: 400px;
    height: 600px;
    font-family: "Poppins", sans-serif;
    color: var(--c-text-primary);
    background-color: rgb(192, 226, 214);
    display: inline-block; 
    margin: 5px;
}
/* ее содержимое */
.aside1,.aside2{
    display: inline-flex;
    background-color: aqua;
    width: 90%;
    height: 42%;
    margin-top: 2%;

}
.aside1{
    margin-top: 15%;
}
/* объединялка для див3 и артикла1 */
.forms{
    display: flex;
}
.footer-text {
    color:var(--c-text-secondary) ;
    margin:auto auto ;
}
.footer3{
   /* background-color: #837571;*/
   background-color: #839592;
    width: 100%;
    height: 100%;
}