*{
    box-sizing: border-box;


}





img{
    max-width: 100%;

}


h1{
    
    margin: .5rem;
}

body{


    margin:0;
	font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

body > header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
} 

body > header #toggler,
body > header label {
    display:none;
}








/* stuli tolko na telefon */
@media(max-width: 768px){

    main{
        flex-direction: column;
        padding: 0;
    }

    nav{
        position: relative;
    }
    body > header ul{
        border: 5px dashed rgb(8, 8, 255);
        background: rgb(77, 192, 245);
        flex-direction: column;
        position: absolute;
        right:0;
        top: -55rem;
        transition: 2s;
        padding: 1rem 1rem .5rem 1rem;

    }

    
    body > header ul li a,
    body > header ul li{
        margin: 0;
        margin-bottom: .5rem;
        padding: 0;

    }
    #toggler:checked ~ ul{
        top: 100%;
    }
 

    body > header label {
        display:flex;
 
    }

.burger{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    position: relative;

}

.burger div{
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 10%;
    transition: .5s;

}

.burger div:nth-child(2){
    top: 10%;
}

.burger div:nth-child(2){
    top: 40%;
}
.burger div:nth-child(3){
    top: 70%;
}

#toggler:checked ~ .burger div:nth-child(1){
    transform: rotate(45deg);
    top: 40%;

}

#toggler:checked ~ .burger div:nth-child(2){
    opacity: 0;
}

#toggler:checked ~ .burger div:nth-child(3){
    transform: rotate(-45deg);
    top: 40%;

}

}