body{
    font-family: Michroma, serif;
    background-color: #9ab2ae;
}
p{
    color: rgb(35, 50, 45);
}

.nav-link{
    color: rgb(159, 227, 227);
}
.navbar-nav .nav-link.active{
    color: rgb(130, 172, 158);
}
header{
    background-color:  #333f3c;
}
.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color: rgb(130, 172, 158);
}
.image-place{
    background-color: #d4dcc3;
}
.card{
    height: 70vh;
    width: 30vh;
}
.text-place{
    object-fit: cover;
    z-index: 1;
    border-style: solid;
    border-color: rgb(96, 111, 106);
   /* border-color: #97857f;
    
   background-color: #d8e9cf;*/
}
.cont{
    background-color: #9ab2ae;

   /* background-color: #6c5f5b;
    background: linear-gradient(180deg, #8ec690 0%, #e0f3b9 100%);*/
    
}
.wallpaper{
     height: 70vh;
     overflow-y: auto;
     /*transform: scale(-1,1);*/
}
/*.sidebar{
    transform: scale(-1,1);
}*/
.footer-text {
    color: rgb(38, 48, 45);
    margin:auto auto ;
}
footer{
   /* background-color: #837571;*/
   background-color: #839592;

}
textarea{
    width: 190px;
    height: 270px;
}

/*background:linear-gradient(180deg, #8ec690 0%, #e0f3b9 100%);*/