.nav-link{
    color: rgb(159, 227, 227);
}
.navbar-nav .nav-link.active{
    color: rgb(130, 172, 158);
}
.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color: rgb(130, 172, 158);}
.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1);
 }
.left-bar{
    grid-column: 1/3;
    background-color: rgb(132, 171, 128);
}
.container{
    grid-column: 3/11;
    background: linear-gradient(180deg, #8ec690 0%, #e0f3b9 100%);
}
.right-bar{
    grid-column: 11/13;
    background-color: rgb(89, 153, 106);
}
.left-bar p,
.right-bar p {
    margin: 1em;
    padding: 1em;
    border-style: solid;
    border-width: 0.5px;
    color: azure;
    border-color: rgb(30, 28, 28);
}
@media (max-width: 1000px) {
    .main-container{
        grid-template-rows: repeat(3);
    }
    .left-bar{
        grid-column: 1/13;
        grid-row: 1/2;
    }
    .container{
        grid-column: 1/13;
        grid-row: 2/3;
    }
    .right-bar{
        grid-column:  1/13;
        grid-row: 3/4;
    }
}